[submodule "project/thirdparty/googletest"]
	path = project/thirdparty/googletest
	url = https://github.com/google/googletest
[submodule "project/thirdparty/benchmark"]
	path = project/thirdparty/benchmark
	url = https://github.com/google/benchmark
[submodule "project/thirdparty/eigen-git-mirror"]
	path = project/thirdparty/eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror.git
